// |------------------------------------------------------
// |------------------------------------------------------
// | Colors
// |------------------------------------------------------
// |------------------------------------------------------

$primary-color:	    #acaaaa;
$menu-color:	    #bbbbbb;
$background-color:  #f0efee;
$title-color:  	    #717171;
$light-default: 	#ffffff;
$dark-default:  	#101011;
$selected-rating:   #b9cb41;

$output-bourbon-deprecation-warnings: false;