// |------------------------------------------------------
// |------------------------------------------------------
// | Fonts
// |------------------------------------------------------
// |------------------------------------------------------

@import url('//fonts.googleapis.com/css?family=Open+Sans');

// Types
$primary-font:      'Open Sans';

// Config
$base-font-family:  $primary-font;
$base-font-size:    16px;
$base-font-color:   $primary-color;