// |------------------------------------------------------
// |------------------------------------------------------
// | Screens
// |------------------------------------------------------
// |------------------------------------------------------

$desktop:           1050px;
$tablet-landscape:  991px;
$tablet:            820px;
$mobile-landscape:  767px;
$mobile:            480px;