// |------------------------------------------------------
// |------------------------------------------------------
// | Headings
// |------------------------------------------------------
// |------------------------------------------------------

h1 {
	color: $primary-color;
	letter-spacing: -0.05em;
}

h2 {
	color: lighten($primary-color, 15%);
	letter-spacing: -0.05em;
}
