@import url("//fonts.googleapis.com/css?family=Open+Sans");
/* line 9, assets/css/generic/_normalize.scss */
* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  box-sizing: border-box;
}

/* line 16, assets/css/generic/_normalize.scss */
body,
html {
  font-family: "Open Sans";
  font-size: 16px;
  color: #acaaaa;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
}

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
/* line 37, assets/css/generic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
/* line 58, assets/css/generic/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
/* line 71, assets/css/generic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
/* line 81, assets/css/generic/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
/* line 93, assets/css/generic/_normalize.scss */
a {
  text-decoration: none;
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
/* line 103, assets/css/generic/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
/* line 115, assets/css/generic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
/* line 123, assets/css/generic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
/* line 132, assets/css/generic/_normalize.scss */
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
/* line 141, assets/css/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
* Address styling not present in IE 8/9.
*/
/* line 150, assets/css/generic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
/* line 159, assets/css/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
/* line 167, assets/css/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 175, assets/css/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 179, assets/css/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 183, assets/css/generic/_normalize.scss */
i {
  display: inline-block;
}

/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
/* line 194, assets/css/generic/_normalize.scss */
img {
  border: 0;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/
/* line 203, assets/css/generic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
  fill: black;
}

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
/* line 215, assets/css/generic/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
/* line 223, assets/css/generic/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
/* line 232, assets/css/generic/_normalize.scss */
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
/* line 240, assets/css/generic/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
*/
/* line 262, assets/css/generic/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
/* line 275, assets/css/generic/_normalize.scss */
button {
  overflow: visible;
  outline: none;
  border: none;
  background: transparent;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
/* line 289, assets/css/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
/* line 302, assets/css/generic/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
/* line 314, assets/css/generic/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
/* line 323, assets/css/generic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
/* line 334, assets/css/generic/_normalize.scss */
input {
  line-height: normal;
}

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
/* line 346, assets/css/generic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
/* line 358, assets/css/generic/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
/* line 368, assets/css/generic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
/* line 379, assets/css/generic/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
/* line 388, assets/css/generic/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
*/
/* line 398, assets/css/generic/_normalize.scss */
legend {
  border: 0;
  /* 1 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
/* line 406, assets/css/generic/_normalize.scss */
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
/* line 415, assets/css/generic/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
/* line 426, assets/css/generic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 431, assets/css/generic/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 7, assets/css/generic/_helpers.scss */
.row {
  display: inline-block;
  position: relative;
}

/* line 12, assets/css/generic/_helpers.scss */
.clear {
  display: block;
  clear: both;
}

/* line 17, assets/css/generic/_helpers.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 23, assets/css/generic/_helpers.scss */
.block {
  display: block;
}

/* line 27, assets/css/generic/_helpers.scss */
.hidden {
  display: none;
}

/* line 31, assets/css/generic/_helpers.scss */
.center {
  text-align: center;
}

/* line 35, assets/css/generic/_helpers.scss */
.auto {
  margin: 0 auto;
}

/* line 39, assets/css/generic/_helpers.scss */
.left {
  float: left;
}

/* line 43, assets/css/generic/_helpers.scss */
.right {
  float: right;
}

/* line 47, assets/css/generic/_helpers.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 51, assets/css/generic/_helpers.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 7, assets/css/elements/_headings.scss */
h1 {
  color: #acaaaa;
  letter-spacing: -0.05em;
}

/* line 12, assets/css/elements/_headings.scss */
h2 {
  color: #d2d1d1;
  letter-spacing: -0.05em;
}

/* line 7, assets/css/elements/_paragraphs.scss */
p {
  line-height: 20px;
}

/* line 7, assets/css/elements/_lists.scss */
ul, ol {
  list-style-type: none;
}

/* line 7, assets/css/elements/_links.scss */
a {
  color: blue;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* line 16, assets/css/objects/_animations.scss */
.rotate {
  animation: rotate 1s infinite linear;
}

/*
.bounce {
	@include bounce();
}
.flash {
	@include flash();
}
.pulse {
	@include pulse();
}
.rubberBand {
	@include rubberBand();
}
.shake {
	@include shake();
}
.swing {
	@include swing();
}
.tada {
	@include tada();
}
.wobble {
	@include wobble();
}
.jello {
	@include jello();
}
.bounceIn {
	@include bounceIn();
}
.bounceInDown {
	@include bounceInDown();
}
.bounceInLeft {
	@include bounceInLeft();
}
.bounceInRight {
	@include bounceInRight();
}
.bounceInUp {
	@include bounceInUp();
}
.bounceOut {
	@include bounceOut();
}
.bounceOutDown {
	@include bounceOutDown();
}
.bounceOutLeft {
	@include bounceOutLeft();
}
.bounceOutRight {
	@include bounceOutRight();
}
.bounceOutUp {
	@include bounceOutUp();
}
.fadeIn {
	@include fadeIn();
}
.fadeInDown {
	@include fadeInDown();
}
.fadeInDownBig {
	@include fadeInDownBig();
}
.fadeInLeft {
	@include fadeInLeft();
}
.fadeInLeftBig {
	@include fadeInLeftBig();
}
.fadeInRight {
	@include fadeInRight();
}
.fadeInRightBig {
	@include fadeInRightBig();
}
.fadeInUp {
	@include fadeInUp();
}
.fadeInUpBig {
	@include fadeInUpBig();
}
.fadeOut {
	@include fadeOut();
}
.fadeOutDown {
	@include fadeOutDown();
}
.fadeOutDownBig {
	@include fadeOutDownBig();
}
.fadeOutLeft {
	@include fadeOutLeft();
}
.fadeOutLeftBig {
	@include fadeOutLeftBig();
}
.fadeOutRight {
	@include fadeOutRight();
}
.fadeOutRightBig {
	@include fadeOutRightBig();
}
.fadeOutUp {
	@include fadeOutUp();
}
.fadeOutUpBig {
	@include fadeOutUpBig();
}
.flipInX {
	@include flipInX();
}
.flipInY {
	@include flipInY();
}
.flipOutX {
	@include flipOutX();
}
.flipOutY {
	@include flipOutY();
}
.lightSpeedIn {
	@include lightSpeedIn();
}
.lightSpeedOut {
	@include lightSpeedOut();
}
.rotateIn {
	@include rotateIn();
}
.rotateInDownLeft {
	@include rotateInDownLeft();
}
.rotateInDownRight {
	@include rotateInDownRight();
}
.rotateInUpLeft {
	@include rotateInUpLeft();
}
.rotateInUpRight {
	@include rotateInUpRight();
}
.rotateOut {
	@include rotateOut();
}
.rotateOutDownLeft {
	@include rotateOutDownLeft();
}
.rotateOutDownRight {
	@include rotateOutDownRight();
}
.rotateOutUpLeft {
	@include rotateOutUpLeft();
}
.rotateOutUpRight {
	@include rotateOutUpRight();
}
.hinge {
	@include hinge();
}
.rollIn {
	@include rollIn();
}
.rollOut {
	@include rollOut();
}
.zoomIn {
	@include zoomIn();
}
.zoomInDown {
	@include zoomInDown();
}
.zoomInLeft {
	@include zoomInLeft();
}
.zoomInRight {
	@include zoomInRight();
}
.zoomInUp {
	@include zoomInUp();
}
.zoomOut {
	@include zoomOut();
}
.zoomOutDown {
	@include zoomOutDown();
}
.zoomOutLeft {
	@include zoomOutLeft();
}
.zoomOutRight {
	@include zoomOutRight();
}
.zoomOutUp {
	@include zoomOutUp();
}
.slideInDown {
	@include slideInDown();
}
.slideInLeft {
	@include slideInLeft();
}
.slideInRight {
	@include slideInRight();
}
.slideInUp {
	@include slideInUp();
}
.slideOutDown {
	@include slideOutDown();
}
.slideOutLeft {
	@include slideOutLeft();
}
.slideOutRight {
	@include slideOutRight();
}
.slideOutUp {
	@include slideOutUp();
}
*/
/* line 7, assets/css/objects/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  z-index: 10;
}

@media only screen and (max-width: 767px) {
  /* line 7, assets/css/objects/_header.scss */
  .header {
    background-color: transparent;
    box-shadow: none;
  }
  /* line 22, assets/css/objects/_header.scss */
  .header.fixed {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}

/* line 29, assets/css/objects/_header.scss */
.header__logo {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

/* line 33, assets/css/objects/_header.scss */
.header__logo a {
  display: block;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  /* line 29, assets/css/objects/_header.scss */
  .header__logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin: 0 0 0 -75px;
  }
}

/* line 45, assets/css/objects/_header.scss */
.header__find {
  float: right;
  display: none;
}

/* line 50, assets/css/objects/_header.scss */
.header__hamburguer {
  float: left;
  display: inline-block;
}

/* line 55, assets/css/objects/_header.scss */
.header__hamburguer, .header__find {
  position: relative;
  margin: 30px 50px 0 70px;
  padding: 0 10px;
  width: 50px;
  height: 35px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #fefefe 1%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, #fefefe 1%, whitesmoke 100%);
}

@media only screen and (max-width: 991px) {
  /* line 55, assets/css/objects/_header.scss */
  .header__hamburguer, .header__find {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 55, assets/css/objects/_header.scss */
  .header__hamburguer, .header__find {
    display: block;
  }
}

/* line 78, assets/css/objects/_header.scss */
.header__hamburguer span,
.header__hamburguer span::after,
.header__hamburguer span::before, .header__find span,
.header__find span::after,
.header__find span::before {
  display: block;
  background-color: #bbbbbb;
  width: 28px;
  height: 3px;
}

/* line 87, assets/css/objects/_header.scss */
.header__hamburguer svg, .header__find svg {
  display: block;
  position: relative;
  width: 20px;
  top: -1px;
  left: 3px;
  fill: #bbbbbb;
}

/* line 96, assets/css/objects/_header.scss */
.header__hamburguer span, .header__find span {
  margin: 0 auto;
  position: relative;
  top: 0;
  transition-delay: .2s;
  transition-duration: 0s;
}

/* line 103, assets/css/objects/_header.scss */
.header__hamburguer span::before, .header__hamburguer span::after, .header__find span::before, .header__find span::after {
  content: '';
  position: absolute;
}

/* line 109, assets/css/objects/_header.scss */
.header__hamburguer span::before, .header__find span::before {
  margin-top: -8px;
  transition-delay: .2s, 0s;
  transition-duration: .2s;
  transition-property: margin, transform;
}

/* line 116, assets/css/objects/_header.scss */
.header__hamburguer span::after, .header__find span::after {
  margin-top: 8px;
  transition-delay: .2s, 0s;
  transition-duration: .2s;
  transition-property: margin, transform;
}

/* line 125, assets/css/objects/_header.scss */
.header__hamburguer:hover, .header__find:hover {
  border-color: #c8c8c8;
}

/* line 131, assets/css/objects/_header.scss */
.header__hamburguer.active span, .header__find.active span {
  background-color: transparent;
  transition-delay: 0.1s;
}

/* line 135, assets/css/objects/_header.scss */
.header__hamburguer.active span::before, .header__find.active span::before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, .2s;
}

/* line 141, assets/css/objects/_header.scss */
.header__hamburguer.active span::after, .header__find.active span::after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, .2s;
}

/* line 151, assets/css/objects/_header.scss */
.header__navigation {
  display: none;
}

/* line 155, assets/css/objects/_header.scss */
.header__search {
  display: inline-block;
  padding-top: 30px;
  position: relative;
  width: 430px;
}

@media only screen and (max-width: 991px) {
  /* line 155, assets/css/objects/_header.scss */
  .header__search {
    width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 155, assets/css/objects/_header.scss */
  .header__search {
    display: none;
  }
}

/* line 169, assets/css/objects/_header.scss */
.header__search__submit {
  width: 15px;
  position: absolute;
  top: 3px;
  right: 9px;
}

/* line 172, assets/css/objects/_header.scss */
.header__search__submit svg {
  width: 100%;
  fill: #bbbbbb;
}

/* line 177, assets/css/objects/_header.scss */
.header__search__submit:hover svg {
  fill: #aeaeae;
}

/* line 185, assets/css/objects/_header.scss */
.header__user {
  float: right;
  margin-top: 27px;
  margin-right: 20px;
  font-size: 0.9375rem;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  /* line 185, assets/css/objects/_header.scss */
  .header__user {
    display: none;
  }
}

/* line 196, assets/css/objects/_header.scss */
.header__user__name {
  padding: 9px 12px;
  color: #939090;
  float: right;
}

/* line 201, assets/css/objects/_header.scss */
.header__user__name:hover {
  color: #797777;
}

/* line 207, assets/css/objects/_header.scss */
.header__user img {
  border-radius: 100%;
}

/* line 7, assets/css/objects/_layout.scss */
body {
  background-color: #f0efee;
}

/* line 11, assets/css/objects/_layout.scss */
.wrapper {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
}

/* line 12, assets/css/components/_categories.scss */
.categories {
  display: block;
  clear: both;
  text-align: center;
  min-height: 1000px;
  margin-top: 140px;
  margin-bottom: 100px;
  padding-left: 5px;
}

/* line 21, assets/css/components/_categories.scss */
.categories__item {
  display: inline-block;
  opacity: 0;
  float: left;
  width: 24.5%;
  margin-bottom: 25px;
  font-size: 0.75rem;
}

@media only screen and (max-width: 991px) {
  /* line 21, assets/css/components/_categories.scss */
  .categories__item {
    width: 32%;
  }
}

@media only screen and (max-width: 820px) {
  /* line 21, assets/css/components/_categories.scss */
  .categories__item {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  /* line 21, assets/css/components/_categories.scss */
  .categories__item {
    width: 98%;
  }
}

/* line 42, assets/css/components/_categories.scss */
.categories__item__card {
  max-width: 95%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background: white;
}

/* line 52, assets/css/components/_categories.scss */
.categories__item__card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* line 56, assets/css/components/_categories.scss */
.categories__item__card--medium {
  height: 460px;
}

/* line 60, assets/css/components/_categories.scss */
.categories__item__card--large {
  height: 530px;
}

/* line 67, assets/css/components/_categories.scss */
.categories__item__image {
  position: relative;
  overflow: hidden;
  height: 150px;
  background: #eeeeee url("../images/no-image.jpg") center center no-repeat;
}

/* line 73, assets/css/components/_categories.scss */
.categories__item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -250px;
}

/* line 79, assets/css/components/_categories.scss */
.categories__item__image--medium {
  height: 250px;
}

/* line 81, assets/css/components/_categories.scss */
.categories__item__image--medium img {
  margin-top: -125px;
}

/* line 86, assets/css/components/_categories.scss */
.categories__item__image--large {
  height: 320px;
}

/* line 88, assets/css/components/_categories.scss */
.categories__item__image--large img {
  margin-top: -160px;
}

/* line 95, assets/css/components/_categories.scss */
.categories__item__description {
  text-align: left;
  font-weight: 400;
  padding: 10px 20px;
}

/* line 101, assets/css/components/_categories.scss */
.categories__item__type {
  color: #717171;
  font-size: 1.125rem;
  margin-bottom: -10px;
  letter-spacing: -0.02em;
}

/* line 108, assets/css/components/_categories.scss */
.categories__item__name {
  font-size: 0.875rem;
  margin-bottom: 15px;
  overflow: hidden;
}

/* line 113, assets/css/components/_categories.scss */
.categories__item__name svg {
  position: relative;
  width: 12px;
  fill: #acaaaa;
  top: 11px;
}

/* line 122, assets/css/components/_categories.scss */
.categories__item__text {
  line-height: 19px;
  font-size: 0.8125rem;
  height: 57px;
}

/* line 128, assets/css/components/_categories.scss */
.categories__item__divider {
  opacity: 0.2;
  margin: 10px -20px;
  border: none;
  border-bottom: 1px solid #acaaaa;
}

/* line 135, assets/css/components/_categories.scss */
.categories__item__rating {
  float: left;
  margin: 5px 0 15px 0;
  font-size: 1rem;
  color: #dedede;
}

/* line 141, assets/css/components/_categories.scss */
.categories__item__rating li {
  display: inline-block;
}

/* line 145, assets/css/components/_categories.scss */
.categories__item__rating__active {
  color: #b9cb41;
}

/* line 151, assets/css/components/_categories.scss */
.categories__item__share {
  float: right;
  width: 25px;
  height: 25px;
  position: relative;
  top: 4px;
  background: #dedede;
  border-radius: 100%;
  transition: all 0.45s ease;
}

/* line 161, assets/css/components/_categories.scss */
.categories__item__share:hover {
  background: #337ab7;
}

/* line 165, assets/css/components/_categories.scss */
.categories__item__share svg {
  position: relative;
  top: 0px;
  left: -2px;
  width: 30px;
  fill: white;
}

/* line 175, assets/css/components/_categories.scss */
.rtl .categories__item {
  float: right;
  text-align: right;
  direction: rtl;
}

/* line 14, assets/css/components/_inputs.scss */
.input {
  position: relative;
}

/* line 17, assets/css/components/_inputs.scss */
.input input[type="color"], .input input[type="date"], .input input[type="datetime"], .input input[type="datetime-local"], .input input[type="email"], .input input[type="month"], .input input[type="number"], .input input[type="password"], .input input[type="search"], .input input[type="tel"], .input input[type="text"], .input input[type="time"], .input input[type="url"], .input input[type="week"], .input input:not([type]), .input textarea {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  outline: 0;
  font-size: 0.875rem;
  font-weight: 100;
  color: #c5c4c4;
  background-color: #f7f6f6;
  transition: all 0.3s ease-out;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

/* line 30, assets/css/components/_inputs.scss */
.input input[type="color"]:focus, .input input[type="date"]:focus, .input input[type="datetime"]:focus, .input input[type="datetime-local"]:focus, .input input[type="email"]:focus, .input input[type="month"]:focus, .input input[type="number"]:focus, .input input[type="password"]:focus, .input input[type="search"]:focus, .input input[type="tel"]:focus, .input input[type="text"]:focus, .input input[type="time"]:focus, .input input[type="url"]:focus, .input input[type="week"]:focus, .input input:not([type]):focus, .input textarea:focus {
  color: #9f9d9d;
  border-color: #dadada;
}

/* line 9, assets/css/components/_transitions.scss */
.transitions.masonry,
.transitions.masonry .masonry-brick {
  transition-duration: 1s;
}

/* line 14, assets/css/components/_transitions.scss */
.transitions.masonry {
  transition-property: height, width;
}

/* line 18, assets/css/components/_transitions.scss */
.transitions.masonry .masonry-brick {
  transition-property: opacity, left, right, top;
}

/* line 22, assets/css/components/_transitions.scss */
.transitions.infinite-scroll.masonry {
  transition-property: none;
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/* line 19, assets/css/components/_sprites.scss */
.icon-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 154px;
  height: 52px;
}

/* line 7, assets/css/components/_infinite-scroll.scss */
.infinite-scroll {
  display: block;
}

/* line 10, assets/css/components/_infinite-scroll.scss */
.infinite-scroll__loader {
  position: fixed;
  text-align: center;
  left: 50%;
  bottom: 0;
  margin-left: -85px;
  padding: 10px 20px;
  opacity: 0.8;
  color: #717171;
  z-index: 10;
}

/* line 21, assets/css/components/_infinite-scroll.scss */
.infinite-scroll__loader img {
  border-radius: 100%;
}

/* line 25, assets/css/components/_infinite-scroll.scss */
.infinite-scroll__loader img,
.infinite-scroll__loader div {
  float: left;
  display: inline-block;
}

/* line 31, assets/css/components/_infinite-scroll.scss */
.infinite-scroll__loader div {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 0.9375rem;
}
