// |------------------------------------------------------
// |------------------------------------------------------
// | Categories
// |------------------------------------------------------
// |------------------------------------------------------

$width-image:   500px;
$small-image:   150px;
$medium-image:  250px;
$large-image:   320px;

.categories {
	display: block;
	clear: both;
	text-align: center;
	min-height: 1000px;
	margin-top: 140px;
	margin-bottom: 100px;
	padding-left: 5px;

	&__item {
		display: inline-block; 
		opacity: 0;
		float: left;
		width: 24.5%;
		margin-bottom: 25px;
		font-size: rem(12px);

		@include screen('tablet landscape') {
			width: 32%;
		}

		@include screen('tablet') {
			width: 48%;
		}

		@include screen('mobile') {
			width: 98%;
		}

		// Card
		&__card {
			max-width: 95%;
			margin: 0 auto;
			display: block;
			overflow: hidden;
			border-radius: 3px;
			transition: all 0.3s ease-out;
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
			background: white;

			&:hover {
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
			}

			&--medium {
				height: 460px;
			}

			&--large {
				height: 530px;
			}
			
		}

		// Images
		&__image {
			position: relative;
			overflow: hidden;
			height: $small-image;
			background: #eeeeee url('../images/no-image.jpg') center center no-repeat;

			img {
            	@include position(absolute, 50% null null 50%);
				margin-top: $small-image / -2;
				margin-left: $width-image / -2;
			}

			&--medium {
				height: $medium-image;	
				img {
					margin-top: $medium-image / -2;
				}
			}

			&--large {
				height: $large-image;				
				img {
					margin-top: $large-image / -2;
				}
			}

		}

		&__description {
			text-align: left;
			font-weight: 400;
			padding: 10px 20px;
		}

		&__type {
			color: $title-color;
			font-size: rem(18px);
			margin-bottom: -10px;
			letter-spacing: -0.02em;
		}

		&__name {
			font-size: rem(14px);
			margin-bottom: 15px;
			overflow: hidden;

			svg {
				position: relative;
				width: 12px;
				fill: $primary-color;				    
    			top: 11px;
			}

		}

		&__text {
			line-height: 19px;
			font-size: rem(13px);
			height: 57px;
		}

		&__divider {
			opacity: 0.2;
			margin: 10px -20px;
			border: none;
			border-bottom: 1px solid $primary-color;
		}		

		&__rating {
			float: left;
			margin: 5px 0 15px 0;
			font-size: rem(16px);
			color: lighten($primary-color, 20%);

			li {
				display: inline-block;
			}

			&__active {
				color: $selected-rating;
			}

		}

		&__share {
			float: right;
			width: 25px;
			height: 25px;
			position: relative;
			top: 4px;
			background: lighten($primary-color, 20%);
			border-radius: 100%;
			transition: all 0.45s ease;

			&:hover {
				background: #337ab7	;
			}

			svg {
				position: relative;
				top: 0px;
				left: -2px;
				width: 30px;
				fill: white;
			}

		}

		.rtl & {
			float: right;
			text-align: right; 
			direction: rtl;
		}

	}

}