// |------------------------------------------------------
// |------------------------------------------------------
// | Infinite Scroll
// |------------------------------------------------------
// |------------------------------------------------------

.infinite-scroll {
	display: block;

	&__loader { 
		position: fixed;
		text-align: center;
		left: 50%;
		bottom: 0;
		margin-left: -85px;
		padding: 10px 20px;
		opacity: 0.8;
		color: #717171;
		z-index: 10;
		
		img {
			border-radius: 100%;
		}

		img,
		div {
    		float: left;
			display: inline-block;
		}

		div {
			height: 30px;
			line-height: 30px;
			padding-left: 15px;
			font-size: rem(15px);
		}

	}

}