// |------------------------------------------------------
// |------------------------------------------------------
// | Inputs
// |------------------------------------------------------
// |------------------------------------------------------

$input-text-color:        lighten($primary-color, 10%);
$input-focus-color:       $primary-color;
$input-radius:            3px;
$input-background:      #f7f6f6;
$input-border-color:    #e7e7e7;
$input-label-color:       $input-border-color;

.input {
    position: relative;

    #{$all-text-inputs} {
        width: 100%;
        height: 35px;
        padding: 5px 10px;
        outline: 0;
        font-size: rem(14px);
        font-weight: 100;   
        color: $input-text-color;
        background-color: $input-background;
        transition: all 0.3s ease-out;
        border: 1px solid $input-border-color;
        border-radius: $input-radius;

        &:focus {
            color: darken($input-text-color, 15%);
            border-color: darken($input-border-color, 5%);
        }
    }

}
