// |------------------------------------------------------
// |------------------------------------------------------
// | Transitions
// |------------------------------------------------------
// |------------------------------------------------------

.transitions {
    
    &.masonry,
    &.masonry .masonry-brick {
        transition-duration: 1s;
    }

    &.masonry {
        transition-property: height, width;
    }

    &.masonry .masonry-brick {
        transition-property: opacity, left, right, top;
    }
    
    &.infinite-scroll.masonry {
        transition-property: none;
    }

}