// |------------------------------------------------------
// |------------------------------------------------------
// | Media Queries
// | Usage: @include breakpoint(1024) {...}
// | 		@include screen('mobile') {...}
// |------------------------------------------------------
// |------------------------------------------------------

@mixin breakpoint($size) {
    @media only screen and (max-width : $size + px) {
    	@content;
    }
}

$breakpoints: (
    'mobile':        	 $mobile,
    'mobile landscape':  $mobile-landscape,
    'tablet': 			 $tablet,
    'tablet landscape':  $tablet-landscape
);

@mixin screen($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        //@if $type == max {
        //    $width: $width - 1px;
        //}
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}