// |------------------------------------------------------
// |------------------------------------------------------
// | Vertical Align
// | Usage: @include vertical-align(50%);
// |------------------------------------------------------
// |------------------------------------------------------

@mixin vertical-align($value: 50%) {
	position: relative;
	top: $value;
	@include transform(translateY(-$value))
}