<article class="categories__item">				
	<div class="categories__item__card categories__item__card--large">
		<div class="categories__item__image categories__item__image--large">
			<img src="assets/images/large/digimon.jpg" alt="Digimon" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Digimon</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card--medium">
		<div class="categories__item__image categories__item__image--medium">
			<img src="assets/images/medium/os-flintstones.jpg" alt="Os Flintstones" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Os Flintstones</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
				<li>★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card">
		<div class="categories__item__image categories__item__image">
			<img src="assets/images/small/power-rangers.jpg" alt="Power Rangers" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Power Rangers</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card--large">
		<div class="categories__item__image categories__item__image--large">
			<img src="assets/images/large/doug-funnie.jpg" alt="Doug Funnie" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Doug Funnie</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card--medium">
		<div class="categories__item__image categories__item__image--medium">
			<img src="assets/images/medium/pokemon.jpg" alt="Pokemon" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Pokemon</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card--large">
		<div class="categories__item__image categories__item__image--large">
			<img src="assets/images/large/thunders-cats.jpg" alt="Thunders Cats" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Thunders Cats</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card">
		<div class="categories__item__image categories__item__image">
			<img src="assets/images/small/yu-yu-hakusho.jpg" alt="Yu Yu Hakusho" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Yu Yu Hakusho</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->

<article class="categories__item">				
	<div class="categories__item__card categories__item__card--medium">
		<div class="categories__item__image categories__item__image--medium">
			<img src="../assets/images/medium/timao-e-pumba.jpg" alt="Timão e Pumba" />
		</div>
		<div class="categories__item__description">
			<h3 class="categories__item__type">Timão e Pumba</h3>
			<h4 class="categories__item__name">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					width="32" 
					height="32" 
					viewBox="0 0 32 32">
					<path d="M15.938 32c0 0-9.938-14.062-9.938-20.062 0-11.813 9.938-11.938 9.938-11.938s10.062 0.125 10.062 11.875c0 6.187-10.062 20.125-10.062 20.125zM16 6c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z"></path>
				</svg>
				<span>Animation</span>
			</h4>
			<p class="categories__item__text">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
					
			<hr class="categories__item__divider" />

			<ul class="categories__item__rating">
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li class="categories__item__rating__active">★</li>
				<li>★</li>
			</ul>
						
			<a href="#" class="categories__item__share">
				<svg 
					version="1.1" 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24">
					<path d="M13 10h3v3h-3v7h-3v-7h-3v-3h3v-1.255c0-1.189 0.374-2.691 1.118-3.512 0.744-0.823 1.673-1.233 2.786-1.233h2.096v3h-2.1c-0.498 0-0.9 0.402-0.9 0.899v2.101z"></path>
				</svg>
			</a>					
		</div> <!-- /description -->
	</div> <!-- /card -->
</article> <!-- /item -->