// |------------------------------------------------------
// |------------------------------------------------------
// | Header
// |------------------------------------------------------
// |------------------------------------------------------

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out;
    z-index: 10;

    @include screen('mobile landscape') {
        background-color: transparent;
        box-shadow: none;

        &.fixed {
            background-color: rgba(255, 255, 255, 0.98);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        }

    }

    &__logo {
        display: inline-block;
        float: left;
        margin-left: 20px;
        a {
            display: block;
            height: 100%;
        }

        @include screen('mobile landscape') {
            @include position(absolute, 20px null null 50%);
            margin: 0 0 0 -75px;
        }

    }

    &__find {
        float: right;
        display: none;
    }

    &__hamburguer {
        float: left;
        display: inline-block;
    }

    &__hamburguer,
    &__find { 
        position: relative;
        margin: 30px 50px 0 70px;
        padding: 0 10px;
        width: 50px;
        height: 35px;
        cursor: pointer;
        outline: none;
        transition: all 0.2s ease-in-out;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        @include background-image(linear-gradient(top, rgba(254, 254, 254,1) 1%,rgba(245, 245, 245, 1) 100%));

        @include screen('tablet landscape') {
            margin-left: 20px;
            margin-right: 20px;
        }

        @include screen('mobile landscape') {
            display: block;
        }
        
        span,
        span::after,
        span::before {
            display: block;
            background-color: $menu-color;
            width: 28px;
            height: 3px;
        }

        svg {
            display: block;
            position: relative;
            width: 20px;
            top: -1px;
            left: 3px;
            fill: $menu-color;
        }

        span {
            margin: 0 auto;
            position: relative;
            top: 0;
            transition-delay: .2s;
            transition-duration: 0s;

            &::before,
            &::after {
                content: '';
                position: absolute;
            }

            &::before {
                margin-top: -8px;
                transition-delay: .2s, 0s;
                transition-duration: .2s;
                transition-property: margin, transform;
            }

            &::after {
                margin-top: 8px;
                transition-delay: .2s, 0s;
                transition-duration: .2s;
                transition-property: margin, transform;
            }
        }
        
        
        &:hover {
            border-color: lighten($menu-color, 5%);
        }

        &.active {

            span {
                background-color: rgba(0, 0, 0, 0);
                transition-delay: 0.1s;

                &::before {
                    margin-top: 0;
                    transform: rotate(45deg);
                    transition-delay: 0s, .2s;
                }

                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                    transition-delay: 0s, .2s;
                }
            }
        }

    }

    &__navigation {
        display: none;
    }

    &__search {
        display: inline-block;
        padding-top: 30px;
        position: relative;
        width: 430px;

        @include screen('tablet landscape') {
			width: 250px;
        }
        
        @include screen('mobile landscape') {
            display: none;
        }

        &__submit {
            width: 15px;
            @include position(absolute, 3px 9px null null);
            svg {
                width: 100%;
                fill: $menu-color;
            }
            &:hover {
                svg {
                    fill: darken($menu-color, 5%);
                }
            }
        }

    }

    &__user {
        float: right;
        margin-top: 27px;
        margin-right: 20px;
        font-size: rem(15px);
        font-weight: 400;

        @include screen('mobile landscape') {
            display: none;
        }

        &__name {
            padding: 9px 12px;
            color: darken($primary-color, 10%);
            float: right;
            
            &:hover {
                color: darken($primary-color, 20%);
            }
        
        }

        img {
            border-radius: 100%;
        }

    }

}