// |------------------------------------------------------
// |------------------------------------------------------
// | Layout
// |------------------------------------------------------
// |------------------------------------------------------

body {
	background-color: $background-color;
}

.wrapper {
	width: 100%;
	max-width: $desktop;
	margin: 0 auto;
	position: relative;
}